In [84]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time

In [85]:
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [86]:
# Download raw data from postgres for stage 1 ETL

conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'

db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
clean_listing = pd.read_sql_query('select * from "listings_full_clean"',con=conn)
calendar = pd.read_sql_query('select * from "calendar_clean"',con=conn)
print("PostGres Download Duration: {} seconds".format(time.time() - start_time))

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\alank\anaconda3\envs\mlenv\lib\site-packages\sqlalchemy\pool\base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\alank\anaconda3\envs\mlenv\lib\site-packages\sqlalchemy\pool\base.py", line 893, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\alank\anaconda3\envs\mlenv\lib\site-packages\sqlalchemy\engine\default.py", line 543, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

PostGres Download Duration: 1.7591683864593506 seconds

In [87]:
clean_listing.head()

,id,last_scraped,host_since,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,room_type,...,review_scores_checkin,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host
0,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,f,f,t,True,3576
1,20847,2019-01-17,2010-02-08,2,t,f,District 7,36.196397,-86.704267,Private room,...,9.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
2,25341,2019-01-17,2010-02-08,2,t,f,District 7,36.197053,-86.704937,Private room,...,10.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
3,25613,2019-01-17,2010-03-18,1,t,t,District 6,36.178263,-86.741622,Private room,...,10.0,10.0,t,f,moderate,t,t,t,True,3227
4,37306,2019-01-17,2010-07-08,1,f,f,District 17,36.133109,-86.774767,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,t,t,t,True,3115

In [88]:
clean_listing.dtypes

id                                           int64
last_scraped                        datetime64[ns]
host_since                          datetime64[ns]
host_listings_count                          int64
host_is_superhost                           object
host_identity_verified                      object
neighbourhood_cleansed                      object
latitude                                   float64
longitude                                  float64
room_type                                   object
property_type                               object
accommodates                                 int64
bathrooms                                  float64
bedrooms                                     int64
bed_type                                    object
price                                      float64
security_deposit                           float64
cleaning_fee                               float64
review_scores_rating                       float64
number_of_reviews                            int64
review_scores_cleanliness                  float64
review_scores_location                     float64
review_scores_communication                float64
review_scores_checkin                      float64
review_scores_value                        float64
instant_bookable                            object
is_business_travel_ready                    object
cancellation_policy                         object
require_guest_profile_picture               object
require_guest_phone_verification            object
has_availability                            object
is_review                                     bool
days_host                                    int64
dtype: object

In [89]:
listing = clean_listing.drop(columns = ['last_scraped', 'host_since', 'latitude', 'longitude', 'price'])

In [90]:
calendar.head(10)

     id      day  month  price
0  6422  weekday      1   40.0
1  6422  weekday      2   40.0
2  6422  weekday      3   40.0
3  6422  weekday      4   40.0
4  6422  weekday      5   40.0
5  6422  weekday      6   40.0
6  6422  weekday      7   40.0
7  6422  weekday      8   40.0
8  6422  weekday      9   40.0
9  6422  weekday     10   40.0

In [91]:
merged = listing.merge(calendar, how='left', on ='id')
merged.head()

,id,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,property_type,accommodates,bathrooms,bedrooms,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host,day,month,price
0,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,1,40.0
1,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,2,40.0
2,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,3,40.0
3,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,4,40.0
4,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,5,40.0

In [92]:
merged = merged.drop(columns = 'id')

In [93]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [94]:
merged2 = merged.copy()

In [95]:
objects = merged2.dtypes[merged2.dtypes == 'object'].index.tolist()

In [96]:
for obj in objects:
    merged2[obj] = le.fit_transform(merged2[obj])

In [97]:
merged2.head()

,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,property_type,accommodates,bathrooms,bedrooms,bed_type,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host,day,month,price
0,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,1,40.0
1,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,2,40.0
2,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,3,40.0
3,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,4,40.0
4,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,5,40.0

In [98]:
merged2.dtypes

host_listings_count                   int64
host_is_superhost                     int32
host_identity_verified                int32
neighbourhood_cleansed                int32
room_type                             int32
property_type                         int32
accommodates                          int64
bathrooms                           float64
bedrooms                              int64
bed_type                              int32
security_deposit                    float64
cleaning_fee                        float64
review_scores_rating                float64
number_of_reviews                     int64
review_scores_cleanliness           float64
review_scores_location              float64
review_scores_communication         float64
review_scores_checkin               float64
review_scores_value                 float64
instant_bookable                      int32
is_business_travel_ready              int32
cancellation_policy                   int32
require_guest_profile_picture         int32
require_guest_phone_verification      int32
has_availability                      int32
is_review                              bool
days_host                             int64
day                                   int32
month                                 int64
price                               float64
dtype: object

In [99]:
y=merged2['price']

In [101]:
X = merged2.drop(columns ='price')
X = X.values.reshape(-1, 29)

In [102]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [103]:
scaled_X = data_scaler.fit_transform(X)

In [104]:
from sklearn import linear_model

In [105]:
regr = linear_model.LinearRegression()
regr.fit(scaled_X, y)

LinearRegression()

In [106]:
y_pred = regr.predict(scaled_X)
print(y_pred.shape)

(143952,)

In [107]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 268.40406587808707
Coefficients:
 [ 2.03228747e+01  7.58326541e+00  6.37732608e-01 -1.43726066e+01
 -2.30486432e+00 -4.79825006e+00  7.34744983e+01  8.33717271e+01
  1.38283897e-01 -2.50001810e-03  1.22021618e+01  4.09015895e+01
  4.24158666e+01 -3.61798319e+00  4.65643045e+01  7.79145372e+01
 -1.83437825e+01 -1.26122917e+01 -7.26796997e+01 -4.25551776e+00
  7.99360578e-15  5.03004084e+00  5.05120399e-03  1.24633135e+00
 -2.84217094e-14 -7.95078359e+01 -8.42075482e-01  5.31462337e+01
  1.39371601e+01]

In [108]:
for i in range(len(merged2.columns)-1):
    print(merged2.columns[i] , regr.coef_[i])

host_listings_count 20.322874709784926
host_is_superhost 7.5832654136126445
host_identity_verified 0.6377326080614889
neighbourhood_cleansed -14.372606639556407
room_type -2.304864321993385
property_type -4.798250057275934
accommodates 73.47449832250065
bathrooms 83.37172708372776
bedrooms 0.13828389667617103
bed_type -0.0025000180957649998
security_deposit 12.202161764758095
cleaning_fee 40.90158953293432
review_scores_rating 42.415866641549215
number_of_reviews -3.617983188288549
review_scores_cleanliness 46.56430452186889
review_scores_location 77.9145372370542
review_scores_communication -18.34378251113102
review_scores_checkin -12.612291738924593
review_scores_value -72.67969973792287
instant_bookable -4.25551775844263
is_business_travel_ready 7.993605777301127e-15
cancellation_policy 5.030040843670364
require_guest_profile_picture 0.0050512039924031915
require_guest_phone_verification 1.2463313471801534
has_availability -2.842170943040401e-14
is_review -79.50783591369776
days_host -0.8420754823085913
day 53.14623368164268
month 13.937160075032423