In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time

In [7]:
# Download raw data from postgres for stage 1 ETL

conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'

db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
clean_listing = pd.read_sql_query('select * from "listings_full_clean"',con=conn)
calendar = pd.read_sql_query('select * from "calendar_clean"',con=conn)
print("PostGres Download Duration: {} seconds".format(time.time() - start_time))

PostGres Download Duration: 1.437535047531128 seconds

In [8]:
clean_listing.head()

,id,last_scraped,host_since,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,room_type,...,review_scores_checkin,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host
0,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,f,f,t,True,3576
1,20847,2019-01-17,2010-02-08,2,t,f,District 7,36.196397,-86.704267,Private room,...,9.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
2,25341,2019-01-17,2010-02-08,2,t,f,District 7,36.197053,-86.704937,Private room,...,10.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
3,25613,2019-01-17,2010-03-18,1,t,t,District 6,36.178263,-86.741622,Private room,...,10.0,10.0,t,f,moderate,t,t,t,True,3227
4,37306,2019-01-17,2010-07-08,1,f,f,District 17,36.133109,-86.774767,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,t,t,t,True,3115

In [9]:
clean_data.dtypes

id                                           int64
last_scraped                        datetime64[ns]
host_since                          datetime64[ns]
host_listings_count                          int64
host_is_superhost                           object
host_identity_verified                      object
neighbourhood_cleansed                      object
latitude                                   float64
longitude                                  float64
room_type                                   object
property_type                               object
accommodates                                 int64
bathrooms                                  float64
bedrooms                                     int64
bed_type                                    object
price                                      float64
security_deposit                           float64
cleaning_fee                               float64
review_scores_rating                       float64
number_of_reviews                            int64
review_scores_cleanliness                  float64
review_scores_location                     float64
review_scores_communication                float64
review_scores_checkin                      float64
review_scores_value                        float64
instant_bookable                            object
is_business_travel_ready                    object
cancellation_policy                         object
require_guest_profile_picture               object
require_guest_phone_verification            object
has_availability                            object
is_review                                     bool
days_host                                    int64
dtype: object

In [10]:
calendar.head(10)

     id      day  month  price
0  6422  weekday      1   40.0
1  6422  weekday      2   40.0
2  6422  weekday      3   40.0
3  6422  weekday      4   40.0
4  6422  weekday      5   40.0
5  6422  weekday      6   40.0
6  6422  weekday      7   40.0
7  6422  weekday      8   40.0
8  6422  weekday      9   40.0
9  6422  weekday     10   40.0

In [12]:
merged = clean_data.merge(calendar, how='left', on ='id')
merged.head()

,id,last_scraped,host_since,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,room_type,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host,day,month,price_y
0,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,1,40.0
1,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,2,40.0
2,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,3,40.0
3,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,4,40.0
4,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,5,40.0