In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Load data file
listings_full_df = pd.read_csv('Resources/listings_full.csv')
listings_full_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20190117134323,2019-01-17,Nashville Charm,"NOTE: For April and early May, must book at le...",1920 historic bungalow backs up to city park w...,"NOTE: For April and early May, must book at le...",none,Historic East Nashville is home to many new an...,...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,4.74
1,20847,https://www.airbnb.com/rooms/20847,20190117134323,2019-01-17,East Nashville Retro Ranch!,Retro Ranch is nestled in the eclectic East si...,-Retro Ranch is nestled in a quiet part of Sou...,Retro Ranch is nestled in the eclectic East si...,none,"Many local favorites, including live music, th...",...,f,f,strict_14_with_grace_period,t,t,2,0,2,0,1.28
2,25341,https://www.airbnb.com/rooms/25341,20190117134323,2019-01-17,East Nashville Retro Ranch BR #2,Retro Ranch is nestled in the eclectic East si...,-Retro Ranch is nestled in a quiet part of Sou...,Retro Ranch is nestled in the eclectic East si...,none,"Many local favorites, including live music, th...",...,f,f,strict_14_with_grace_period,t,t,2,0,2,0,0.97
3,25613,https://www.airbnb.com/rooms/25613,20190117134323,2019-01-17,108 Year Old East Nashville Home,"Lovely large Craftsman home. Art, architecture...","Our gorgeous 3,000 square foot, architecturall...","Lovely large Craftsman home. Art, architecture...",none,We live in a walkable neighborhood with sidewa...,...,t,f,moderate,t,t,1,0,1,0,4.27
4,37306,https://www.airbnb.com/rooms/37306,20190117134323,2019-01-17,8th South Private Room&Bath - Female(s)/F+M Only,Renting again after taking a 1.5 year break. P...,Thank you for considering my home for your Nas...,Renting again after taking a 1.5 year break. P...,none,"I'm in Woodland-in-Waverly, the oldest survivi...",...,f,f,strict_14_with_grace_period,t,t,1,0,1,0,0.97

In [3]:
# Create a datafram of id and amenities to parse.
amenities_df = listings_full_df[['id', 'amenities']]
amenities_df.head()

      id                                          amenities
0   6422  {TV,Internet,Wifi,"Air conditioning",Kitchen,"...
1  20847  {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
2  25341  {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
3  25613  {TV,Internet,Wifi,"Air conditioning",Kitchen,"...
4  37306  {TV,Wifi,"Air conditioning",Kitchen,"Pets live...

In [4]:
# iterate over each row, parse the amenities string and assign 1 for amenities listed and 0 for amenities not listed in each row.
for index, row in amenities_df.iterrows():
    for amenity in row['amenities'].split(','):
        amenities_df.loc[index, amenity] = 1

amenities_df.fillna(0, inplace=True)

In [5]:
# Clean up the column names (all lowercase, remove spaces, remove quotes and brackets)
amenities_df.columns = amenities_df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('"', '').str.replace('{', '').str.replace('}', '')
amenities_df.head()

,id,amenities,tv,internet,wifi,air_conditioning,kitchen,free_parking_on_premises,pets_live_on_this_property,dog(s),...,self_check-in,sun_loungers,electric_profiling_bed,hammock,smoke_detector,high_chair,ski-in/ski-out,pets_allowed,mobile_hoist,baby_bath
0,6422,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20847,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,25341,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25613,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,37306,"{TV,Wifi,""Air conditioning"",Kitchen,""Pets live...",1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0